<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.commerce.huayi.mapper.AdminLoginRecordMapper" >
  <resultMap id="BaseResultMap" type="com.commerce.huayi.entity.db.AdminLoginRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="login_user" property="loginUser" jdbcType="VARCHAR" />
    <result column="login_key" property="loginKey" jdbcType="VARCHAR" />
    <result column="login_add" property="loginAdd" jdbcType="VARCHAR" />
    <result column="login_in_date" property="loginInDate" jdbcType="TIMESTAMP" />
    <result column="login_out_date" property="loginOutDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, login_user, login_key, login_add, login_in_date, login_out_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.commerce.huayi.entity.db.AdminLoginRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_admin_login_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit == null" >
      <if test="limitStart gt 0 and limitEnd gt 0 " >
        limit ${limitStart} , ${limitEnd}
      </if>
      <if test="limitStart lt 1 and limitEnd lt 0 " >
        limit ${limitEnd}
      </if>
    </if>
    <if test=" limit != null " >
      limit ${limit.start} , ${limit.size}
    </if>
    <if test="page != null" >
      limit #{page.begin} , #{page.length}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_admin_login_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_admin_login_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.commerce.huayi.entity.db.AdminLoginRecordExample" >
    delete from tb_admin_login_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.commerce.huayi.entity.db.AdminLoginRecord" keyProperty="id" useGeneratedKeys="true" >
    insert into tb_admin_login_record (id, login_user, login_key, 
      login_add, login_in_date, login_out_date
      )
    values (#{id,jdbcType=BIGINT}, #{loginUser,jdbcType=VARCHAR}, #{loginKey,jdbcType=VARCHAR}, 
      #{loginAdd,jdbcType=VARCHAR}, #{loginInDate,jdbcType=TIMESTAMP}, #{loginOutDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.commerce.huayi.entity.db.AdminLoginRecord" keyProperty="id" useGeneratedKeys="true" >
    insert into tb_admin_login_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="loginUser != null" >
        login_user,
      </if>
      <if test="loginKey != null" >
        login_key,
      </if>
      <if test="loginAdd != null" >
        login_add,
      </if>
      <if test="loginInDate != null" >
        login_in_date,
      </if>
      <if test="loginOutDate != null" >
        login_out_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="loginUser != null" >
        #{loginUser,jdbcType=VARCHAR},
      </if>
      <if test="loginKey != null" >
        #{loginKey,jdbcType=VARCHAR},
      </if>
      <if test="loginAdd != null" >
        #{loginAdd,jdbcType=VARCHAR},
      </if>
      <if test="loginInDate != null" >
        #{loginInDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loginOutDate != null" >
        #{loginOutDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.commerce.huayi.entity.db.AdminLoginRecordExample" resultType="java.lang.Integer" >
    select count(*) from tb_admin_login_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_admin_login_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.loginUser != null" >
        login_user = #{record.loginUser,jdbcType=VARCHAR},
      </if>
      <if test="record.loginKey != null" >
        login_key = #{record.loginKey,jdbcType=VARCHAR},
      </if>
      <if test="record.loginAdd != null" >
        login_add = #{record.loginAdd,jdbcType=VARCHAR},
      </if>
      <if test="record.loginInDate != null" >
        login_in_date = #{record.loginInDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.loginOutDate != null" >
        login_out_date = #{record.loginOutDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_admin_login_record
    set id = #{record.id,jdbcType=BIGINT},
      login_user = #{record.loginUser,jdbcType=VARCHAR},
      login_key = #{record.loginKey,jdbcType=VARCHAR},
      login_add = #{record.loginAdd,jdbcType=VARCHAR},
      login_in_date = #{record.loginInDate,jdbcType=TIMESTAMP},
      login_out_date = #{record.loginOutDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.commerce.huayi.entity.db.AdminLoginRecord" >
    update tb_admin_login_record
    <set >
      <if test="loginUser != null" >
        login_user = #{loginUser,jdbcType=VARCHAR},
      </if>
      <if test="loginKey != null" >
        login_key = #{loginKey,jdbcType=VARCHAR},
      </if>
      <if test="loginAdd != null" >
        login_add = #{loginAdd,jdbcType=VARCHAR},
      </if>
      <if test="loginInDate != null" >
        login_in_date = #{loginInDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loginOutDate != null" >
        login_out_date = #{loginOutDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.commerce.huayi.entity.db.AdminLoginRecord" >
    update tb_admin_login_record
    set login_user = #{loginUser,jdbcType=VARCHAR},
      login_key = #{loginKey,jdbcType=VARCHAR},
      login_add = #{loginAdd,jdbcType=VARCHAR},
      login_in_date = #{loginInDate,jdbcType=TIMESTAMP},
      login_out_date = #{loginOutDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>