<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.commerce.huayi.mapper.AdminOperatorLogMapper" >
  <resultMap id="BaseResultMap" type="com.commerce.huayi.entity.db.AdminOperatorLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="login_user" property="loginUser" jdbcType="VARCHAR" />
    <result column="login_addr" property="loginAddr" jdbcType="VARCHAR" />
    <result column="interfaces" property="interfaces" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.commerce.huayi.entity.db.AdminOperatorLog" extends="BaseResultMap" >
    <result column="input" property="input" jdbcType="LONGVARCHAR" />
    <result column="output" property="output" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, login_user, login_addr, interfaces, create_date
  </sql>
  <sql id="Blob_Column_List" >
    input, output
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.commerce.huayi.entity.db.AdminOperatorLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_admin_operator_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit == null" >
      <if test="limitStart gt 0 and limitEnd gt 0 " >
        limit ${limitStart} , ${limitEnd}
      </if>
      <if test="limitStart lt 1 and limitEnd lt 0 " >
        limit ${limitEnd}
      </if>
    </if>
    <if test=" limit != null " >
      limit ${limit.start} , ${limit.size}
    </if>
    <if test="page != null" >
      limit #{page.begin} , #{page.length}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.commerce.huayi.entity.db.AdminOperatorLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_admin_operator_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit == null" >
      <if test="limitStart gt 0 and limitEnd gt 0 " >
        limit ${limitStart} , ${limitEnd}
      </if>
      <if test="limitStart lt 1 and limitEnd lt 0 " >
        limit ${limitEnd}
      </if>
    </if>
    <if test=" limit != null " >
      limit ${limit.start} , ${limit.size}
    </if>
    <if test="page != null" >
      limit #{page.begin} , #{page.length}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_admin_operator_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_admin_operator_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.commerce.huayi.entity.db.AdminOperatorLogExample" >
    delete from tb_admin_operator_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.commerce.huayi.entity.db.AdminOperatorLog" keyProperty="id" useGeneratedKeys="true" >
    insert into tb_admin_operator_log (id, login_user, login_addr, 
      interfaces, create_date, input, 
      output)
    values (#{id,jdbcType=INTEGER}, #{loginUser,jdbcType=VARCHAR}, #{loginAddr,jdbcType=VARCHAR}, 
      #{interfaces,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{input,jdbcType=LONGVARCHAR}, 
      #{output,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.commerce.huayi.entity.db.AdminOperatorLog" keyProperty="id" useGeneratedKeys="true" >
    insert into tb_admin_operator_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="loginUser != null" >
        login_user,
      </if>
      <if test="loginAddr != null" >
        login_addr,
      </if>
      <if test="interfaces != null" >
        interfaces,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="input != null" >
        input,
      </if>
      <if test="output != null" >
        output,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="loginUser != null" >
        #{loginUser,jdbcType=VARCHAR},
      </if>
      <if test="loginAddr != null" >
        #{loginAddr,jdbcType=VARCHAR},
      </if>
      <if test="interfaces != null" >
        #{interfaces,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="input != null" >
        #{input,jdbcType=LONGVARCHAR},
      </if>
      <if test="output != null" >
        #{output,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.commerce.huayi.entity.db.AdminOperatorLogExample" resultType="java.lang.Integer" >
    select count(*) from tb_admin_operator_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_admin_operator_log
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.loginUser != null" >
        login_user = #{record.loginUser,jdbcType=VARCHAR},
      </if>
      <if test="record.loginAddr != null" >
        login_addr = #{record.loginAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.interfaces != null" >
        interfaces = #{record.interfaces,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.input != null" >
        input = #{record.input,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.output != null" >
        output = #{record.output,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update tb_admin_operator_log
    set id = #{record.id,jdbcType=INTEGER},
      login_user = #{record.loginUser,jdbcType=VARCHAR},
      login_addr = #{record.loginAddr,jdbcType=VARCHAR},
      interfaces = #{record.interfaces,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      input = #{record.input,jdbcType=LONGVARCHAR},
      output = #{record.output,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_admin_operator_log
    set id = #{record.id,jdbcType=INTEGER},
      login_user = #{record.loginUser,jdbcType=VARCHAR},
      login_addr = #{record.loginAddr,jdbcType=VARCHAR},
      interfaces = #{record.interfaces,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.commerce.huayi.entity.db.AdminOperatorLog" >
    update tb_admin_operator_log
    <set >
      <if test="loginUser != null" >
        login_user = #{loginUser,jdbcType=VARCHAR},
      </if>
      <if test="loginAddr != null" >
        login_addr = #{loginAddr,jdbcType=VARCHAR},
      </if>
      <if test="interfaces != null" >
        interfaces = #{interfaces,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="input != null" >
        input = #{input,jdbcType=LONGVARCHAR},
      </if>
      <if test="output != null" >
        output = #{output,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.commerce.huayi.entity.db.AdminOperatorLog" >
    update tb_admin_operator_log
    set login_user = #{loginUser,jdbcType=VARCHAR},
      login_addr = #{loginAddr,jdbcType=VARCHAR},
      interfaces = #{interfaces,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      input = #{input,jdbcType=LONGVARCHAR},
      output = #{output,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.commerce.huayi.entity.db.AdminOperatorLog" >
    update tb_admin_operator_log
    set login_user = #{loginUser,jdbcType=VARCHAR},
      login_addr = #{loginAddr,jdbcType=VARCHAR},
      interfaces = #{interfaces,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>