<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.commerce.huayi.mapper.ContractInfoMapper" >

    <select id="getContractInfo" resultType="com.commerce.huayi.entity.db.ContractInfo">

    </select>

    <insert id="addContractInfo">

    </insert>

    <update id="delContractInfo">

    </update>


</mapper>