<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commerce.huayi.mapper.GoodsCategoryMapper">
  <resultMap id="BaseResultMap" type="com.commerce.huayi.entity.db.GoodsCategory">
    <!--@mbg.generated generated on Mon Apr 08 15:02:05 CST 2019.-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="is_open" jdbcType="TINYINT" property="isOpen" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="category_description" jdbcType="VARCHAR" property="categoryDescription" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Apr 08 15:02:05 CST 2019.-->
    id, parent_id, is_open, category_name, category_description, create_date, update_date, 
    is_delete
  </sql>

  <select id="selectCategoryByPage" resultType="com.commerce.huayi.entity.response.CategoryVo"
                                    parameterType="com.commerce.huayi.pagination.Condition">
    select
        category.id as id,
        category.parent_id as parentId,
        category.is_open as isOpen,
        category.category_name as categoryName,
        category.category_description as categoryDescription
    from tb_goods_category category

    where 1=1 and category.is_delete = 0
    <if test="criterion.categoryId != null and criterion.categoryId != 0">
      and category.id = #{categoryId}
    </if>
    <if test="criterion.categoryName != null and criterion.categoryName != ''">
      and category.category_name = #{categoryName}
    </if>
    order by category.id
    <if test="offset != null and rowSize != null">
      limit #{offset, jdbcType=INTEGER},#{rowSize, jdbcType=INTEGER}
    </if>
  </select>

  <select id="selectCategoryCount" resultType="java.lang.Integer" parameterType="com.commerce.huayi.pagination.Condition">
    select count(category.id)
    from tb_goods_category category
    where 1=1 and category.is_delete = 0
    <if test="criterion.categoryId != null and criterion.categoryId != 0">
      and category.id = #{categoryId}
    </if>
    <if test="criterion.categoryName != null and criterion.categoryName != ''">
      and category.category_name = #{categoryName}
    </if>
  </select>


</mapper>