<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commerce.huayi.mapper.GoodsSpuSpecMapper">
  <resultMap id="BaseResultMap" type="com.commerce.huayi.entity.db.GoodsSpuSpec">
    <!--@mbg.generated generated on Thu Apr 11 12:28:03 CST 2019.-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="spu_id" jdbcType="BIGINT" property="spuId" />
    <result column="spec_value_id" jdbcType="BIGINT" property="specValueId" />
    <result column="spec_image_key" jdbcType="VARCHAR" property="specImageKey" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Thu Apr 11 12:28:03 CST 2019.-->
    id, spu_id, spec_value_id, spec_image_key, create_date, update_date, is_delete
  </sql>

    <select id="selectGoodsSpecDetails" resultType="com.commerce.huayi.entity.response.GoodsSpuDetailsVo">
      SELECT
      spu.id,
      spu.spu_no            as spuNo,
      spu.goods_name        as goodsName,
      spu.goods_description as goodsDescription,
      spu.low_price         as lowPrice,
      spu.brand_id          as brandId,
      category.id           as categoryId,
      spec.id               as specId,
      spec.spec_no          as specNo,
      spec.spec_name        as specName,
      spu.goods_image_key   as goodsImageKey,
      spec.spec_description as specDescription,
      specValue.id          as specValueId,
      specValue.spec_value  as specValue
      FROM
      tb_goods_spu_spec tgss
      JOIN tb_goods_spu spu ON tgss.spu_id = spu.id
      JOIN tb_goods_spec_value specValue ON tgss.spec_value_id = specValue.id
      JOIN tb_goods_spec spec ON specValue.spec_id = spec.id
      JOIN tb_goods_category category ON spu.category_id = category.id
      WHERE 1=1
      and tgss.is_delete =0
      and spu.is_delete=0
      and specValue.is_delete =0
      and spec.is_delete =0
      and category.is_delete = 0
      <if test="spuId != null and spuId != 0">
        and tgss.spu_id = #{spuId}
      </if>
      <if test="specValueId != null and specValueId != 0">
        and tgss.spec_value_id = #{specValueId}
      </if>
    </select>
</mapper>