<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commerce.huayi.mapper.GoodsBrandMapper">
  <resultMap id="BaseResultMap" type="com.commerce.huayi.entity.db.GoodsBrand">
    <!--@mbg.generated generated on Wed Apr 03 14:31:01 CST 2019.-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="brand_description" jdbcType="VARCHAR" property="brandDescription" />
    <result column="brand_logo_key" jdbcType="VARCHAR" property="brandLogoKey" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed Apr 03 14:31:01 CST 2019.-->
    id, brand_name, brand_description, brand_logo_key, create_date, update_date, is_delete
  </sql>
</mapper>