<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commerce.huayi.mapper.GoodsSpuMapper">
  <resultMap id="BaseResultMap" type="com.commerce.huayi.entity.db.GoodsSpu">
    <!--@mbg.generated generated on Mon Apr 08 15:02:40 CST 2019.-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="spu_no" jdbcType="VARCHAR" property="spuNo" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_description" jdbcType="VARCHAR" property="goodsDescription" />
    <result column="goods_image_key" jdbcType="VARCHAR" property="goodsImageKey" />
    <result column="low_price" jdbcType="DECIMAL" property="lowPrice" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Apr 08 15:02:40 CST 2019.-->
    id, spu_no, goods_name, goods_description, goods_image_key, low_price, category_id, 
    brand_id, create_date, update_date, is_delete
  </sql>

  <select id="search" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tb_goods_spu where goods_name like concat(concat('%',#{keyWord}),'%') or goods_description like
    concat(concat('%',#{keyWord}),'%')
  </select>

  <select id="searchBySql" resultType="java.util.Map" parameterType="java.util.Map">
    ${sqlStatement}
  </select>

</mapper>