<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.commerce.huayi.mapper.TranslateMapper" >


  <select id="selectByKey" resultType="com.commerce.huayi.entity.db.TranslateEntity"
                           parameterType="com.commerce.huayi.entity.db.TranslateEntityExample">
    select ${translateCloumn} as translateResult from ${tableName} where ${whereCloumn} = #{key,jdbcType=VARCHAR}
  </select>

  <select id="selectDict" resultType="java.util.Map" parameterType="com.commerce.huayi.entity.db.TranslateEntityExample">
    select * from ${tableName}
  </select>

  <select id="selectAllTables" resultType="com.commerce.huayi.entity.db.TranslateEntity" parameterType="java.lang.String">
    select table_name as tableName from information_schema.tables where table_schema=#{tableSchema} and table_type='base table';
  </select>

  <insert id="updateTranslate" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
       ${sqlStatement}
  </insert>

  <update id="updateByKey" parameterType="com.commerce.huayi.entity.db.TranslateEntityExample">
    update ${tableName} set ${translateCloumn} = #{translateVal,jdbcType=VARCHAR} where ${whereCloumn} = #{key,jdbcType=VARCHAR}
  </update>

</mapper>