<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commerce.huayi.mapper.AdministratorMapper">
  <resultMap id="BaseResultMap" type="com.commerce.huayi.entity.db.Administrator">
    <!--@mbg.generated generated on Wed Apr 03 15:32:03 CST 2019.-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed Apr 03 15:32:03 CST 2019.-->
    id, login_name, `name`, mobile_phone, `password`, `status`, create_by, create_date, 
    update_date, is_delete, update_by
  </sql>

  <delete id="delAdmin">
     update tb_administrator set is_delete = '1', update_date = now() where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="addAdmin">
    insert into tb_administrator (login_name, name, mobile_phone, password,
      create_by, create_date, is_delete)
    values (#{administrator.loginName,jdbcType=VARCHAR}, #{administrator.name,jdbcType=VARCHAR}, #{administrator.mobilePhone,jdbcType=VARCHAR}, #{administrator.password,jdbcType=VARCHAR},
    'admin', now(), '0')
  </insert>


  <select id="getAdmin" resultType="com.commerce.huayi.entity.db.Administrator">
     select id as id,
         login_name as loginName,
         name as name,
         mobile_phone as mobilePhone,
         password as password,
         status as status,
         create_by as createBy,
         create_date as createDate,
         update_date as updateDate,
         is_delete as isDelete,
         update_by as updateBy
     from tb_administrator
     where is_delete = '0'
  </select>

  <select id="getAdminByLoginName" resultType="com.commerce.huayi.entity.db.Administrator">
      select id as id,
         login_name as loginName,
         name as name,
         mobile_phone as mobilePhone,
         password as password,
         status as status,
         create_by as createBy,
         create_date as createDate,
         update_date as updateDate,
         is_delete as isDelete,
         update_by as updateBy
     from tb_administrator
     where is_delete = '0'
     and login_name = #{loginName,jdbcType=VARCHAR}
  </select>

  <select id="loginNameIsUsed" resultType="int">
     select count(*) from tb_administrator where login_name = #{loginName,jdbcType=VARCHAR}
  </select>

</mapper>