<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commerce.huayi.mapper.ContractInfoMapper">
    <resultMap id="BaseResultMap" type="com.commerce.huayi.entity.db.ContractInfo">
        <!--@mbg.generated generated on Wed Apr 03 15:33:12 CST 2019.-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="del_flag" jdbcType="CHAR" property="delFlag"/>
        <result column="create_date" jdbcType="VARCHAR" property="createDate"/>
        <result column="update_date" jdbcType="VARCHAR" property="updateDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated generated on Wed Apr 03 15:33:12 CST 2019.-->
        id, content, del_flag, create_date, update_date
    </sql>

    <select id="getContractInfo" resultType="com.commerce.huayi.entity.db.ContractInfo">
        select id as id,
             content as content,
             del_flag as delFlag,
             date_format(create_date, '%Y-%m-%d %H:%i:%s') as createDate,
             date_format(update_date, '%Y-%m-%d %H:%i:%s') as updateDate
        from tb_contract_info
        where del_flag = '0'
    </select>

    <insert id="addContractInfo">
        insert into tb_contract_info (content,del_flag,create_date) values
            (#{contractInfo.content, jdbcType=VARCHAR},#{contractInfo.delFlag, jdbcType=VARCHAR},now())
    </insert>

    <update id="delContractInfo">
        update tb_contract_info
        set del_flag = '1',update_date = now()
        where id = #{id, jdbcType=INTEGER}
    </update>

    <update id="updateContractInfo">
        update tb_contract_info
        set content = #{contractInfo.content, jdbcType=VARCHAR}, update_date = now()
        where id = #{contractInfo.id, jdbcType=INTEGER}
    </update>

</mapper>