<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commerce.huayi.mapper.GoodsSpecMapper">
    <resultMap id="BaseResultMap" type="com.commerce.huayi.entity.db.GoodsSpec">
        <!--@mbg.generated-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="spec_no" jdbcType="VARCHAR" property="specNo"/>
        <result column="spec_name" jdbcType="VARCHAR" property="specName"/>
        <result column="spec_description" jdbcType="VARCHAR" property="specDescription"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, spec_no, spec_name, spec_description, create_date, update_date, is_delete
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from tb_goods_spec
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from tb_goods_spec
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.commerce.huayi.entity.db.GoodsSpec"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tb_goods_spec
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="specNo != null">
                spec_no,
            </if>
            <if test="specName != null">
                spec_name,
            </if>
            <if test="specDescription != null">
                spec_description,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="specNo != null">
                #{specNo,jdbcType=VARCHAR},
            </if>
            <if test="specName != null">
                #{specName,jdbcType=VARCHAR},
            </if>
            <if test="specDescription != null">
                #{specDescription,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.commerce.huayi.entity.db.GoodsSpec">
        <!--@mbg.generated-->
        update tb_goods_spec
        <set>
            <if test="specNo != null">
                spec_no = #{specNo,jdbcType=VARCHAR},
            </if>
            <if test="specName != null">
                spec_name = #{specName,jdbcType=VARCHAR},
            </if>
            <if test="specDescription != null">
                spec_description = #{specDescription,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="getSpecInfos" resultType="com.commerce.huayi.entity.response.GoodsSpecValueVo">
    select tgc.id               as specId,
           tgc.spec_name        as specName,
           tgc.spec_description as specDescription,
           tgcv.spec_value      as specValue,
           tgcv.id              as specValueId
    from tb_goods_spec tgc
           join tb_goods_spec_value tgcv
    where tgc.id = tgcv.spec_id
      and tgc.is_delete = 0
      and tgcv.is_delete = 0
    order by tgc.id
    limit #{startLine, jdbcType=INTEGER},#{pageMaxSize, jdbcType=INTEGER}
  </select>

    <select id="getSpecInfoCount" resultType="int">
    select count(tgc.id)
    from tb_goods_spec tgc
           join tb_goods_spec_value tgcv
    where tgc.id = tgcv.spec_id
      and tgc.is_delete = 0
      and tgcv.is_delete = 0
  </select>

    <select id="selectCountByName" resultType="int">
       select count(id) from tb_goods_spec where spec_name = #{specName}
    </select>

    <select id="selectByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_goods_spec where spec_name = #{specName}
    </select>
</mapper>