<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commerce.huayi.mapper.RecruitmentInfoMapper">
  <resultMap id="BaseResultMap" type="com.commerce.huayi.entity.db.RecruitmentInfo">
    <!--@mbg.generated generated on Wed Apr 03 15:33:47 CST 2019.-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Wed Apr 03 15:33:47 CST 2019.-->
    id, title, content, del_flag, create_date, update_date
  </sql>

    <select id="getRecruitmentInfos" resultType="com.commerce.huayi.entity.db.RecruitmentInfo">
        select id as id,
             title as title,
             content as content,
             del_flag as delFlag,
             create_date as createDate,
             update_date as updateDate
        from tb_recruitment_info
        where del_flag = '0'
    </select>

    <insert id="addRecruitmentInfo">
        insert into tb_recruitment_info (title, content, del_flag, create_date) values
            (#{recruitmentInfo.title, jdbcType=VARCHAR},#{recruitmentInfo.content, jdbcType=VARCHAR},#{recruitmentInfo.delFlag, jdbcType=VARCHAR},now())
    </insert>

    <update id="delRecruitmentInfo">
        update tb_recruitment_info set del_flag = '1',update_date = now() where id = #{id, jdbcType=INTEGER}
    </update>

    <select id="getRecruitmentInfo" resultType="com.commerce.huayi.entity.db.RecruitmentInfo">
        select id as id,
             title as title,
             content as content,
             del_flag as delFlag,
             create_date as createDate,
             update_date as updateDate
        from tb_recruitment_info
        where del_flag = '0'
        and id = #{id, jdbcType=INTEGER}
    </select>

    <update id="updateRecruitmentInfo">
        update tb_recruitment_info
        set title = #{recruitmentInfo.title, jdbcType=VARCHAR},
          content = #{recruitmentInfo.content, jdbcType=VARCHAR}
        where id = #{recruitmentInfo.id, jdbcType=INTEGER}
    </update>

</mapper>