<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commerce.huayi.mapper.UserBrowseLogMapper">
    <resultMap id="BaseResultMap" type="com.commerce.huayi.entity.db.UserBrowseLog">
        <!--@mbg.generated generated on Wed Apr 03 15:43:06 CST 2019.-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="module" jdbcType="VARCHAR" property="module"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated generated on Wed Apr 03 15:43:06 CST 2019.-->
        id, address, `module`, create_date
    </sql>
</mapper>